@import url(../normalize.css);
@import url(../MediaQueries/MobileFirst.css);
@import url(../MediaQueries/MobileL.css);
@import url(../MediaQueries/Tablet.css);
@import url(../MediaQueries/Laptop.css);
@import url(../MediaQueries/Desktop.css);



:root{
    --color-primary: #1C4070;
    --color-secundary:rgb(186, 221, 233);
    --color-terciary:#EDD2AA;
    --color-4: white;
    --color-5: #f3f1e9;
    font-family: 'Poppins', sans-serif;
}


.nav__bar__desktop li a:first-child{
color: var(--color-primary);
}

.nav__bar__desktop li a:last-child{
color:red;
}

/*Seccion1*/

.Titulo__Babys{
color: var(--color-primary);
background-color: var(--color-secundary);
text-align: center;
margin-bottom: 5px;
}


.Container__img{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
background-color: var(--color-4);
}

.Card{
width: 250px;
background-color:var(--color-terciary);
border-radius: 5%;
}

.Card img{
width: 250px;
height: 250px;
}

.Card p{
background-color: var(--color-secundary);
color: var(--color-primary);
text-align: center;
}

.card1 p:nth-child(3){
background-color: var(--color-terciary);
color: green;
margin-left: 160px;
}

.card2 p:nth-child(3){
background-color: var(--color-terciary);
color: green;
margin-left: 160px;
}

.card3 p:nth-child(3){
background-color: var(--color-terciary);
color: green;
margin-left: 160px;
}

.card4 img{
height: 280px;
}

.card4 p:nth-child(3){
background-color: var(--color-terciary);
color: green;
margin-left: 160px;
}