@import url(../normalize.css);
@import url(../css/form-trabajo.css);


.nav__bar a:nth-child(2){
    color: rgb(255, 0, 0);
}  

.nav__bar li a:first-child{
    color: var(--color-primary);
}

.Container__form{
    width: 100%;
    height: 100dvh;
}

.Container__form h1{
    color: var(--color-primary);
    background-color: var(--color-secundary);
    font-size: 23px;
    margin-top: 50px;
    text-align: center;
}

form{
    width: 40dvh;
    height: 70dvh;
    background-color: var(--color-secundary);
    border: solid 1px var(--color-primary);
    position: absolute;
    left: 11%;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenido__form{
    width: 20dvh;
    height: 60dvh;
}

.contenido__form p{
    color: rgba(0, 0, 0, 0.253);
    text-align: center;
}


.contenido__form .email:invalid{
    background-color: rgba(255, 1, 1, 0.664);
}

.contenido__form .email:valid{
    
    background-color: rgba(79, 163, 11, 0.664);
}

.archivo{
    width: 21dvh;
}
