@import url(../normalize.css);
@import url(../MediaQueries/MobileFirst.css);
@import url(../MediaQueries/MobileL.css);
@import url(../MediaQueries/Tablet.css);
@import url(../MediaQueries/Laptop.css);
@import url(../MediaQueries/Desktop.css);
 


:root{
    --color-primary: #1C4070;
    --color-secundary:rgb(186, 221, 233);
    --color-terciary:#EDD2AA;
    --color-4: white;
    font-family: 'Poppins', sans-serif;
}

/*NAV BAR*/

.nav__bar__desktop{
    display: block;
    text-align: center;
    padding: 150px;
}

.nav__bar__desktop li a{
    text-decoration: none;
    text-align: center;
    color: var(--color-primary);
    font-size: 20px;
}

.nav__bar__desktop li a:first-child{
    color: red;
}

/*FORMULARIO*/

.Container__form{
width: 100%;
height: 100dvh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: var(--color-4);
}

.Container__form h1{
color: var(--color-primary);
background-color: var(--color-secundary);
width: 100%;
font-size: 23px;
text-align: center;
margin: 40px;
}

form{
width: 40dvh;
height: 70dvh;
background-color: var(--color-secundary);
border: solid 1px var(--color-primary);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 1%;
}

.contenido__form{
width: 20dvh;
height: 60dvh;
}

.contenido__form p{
color: rgba(0, 0, 0, 0.253);
text-align: center;
}


.contenido__form .email:invalid{
background-color: rgba(255, 1, 1, 0.664);
}

.contenido__form .email:valid{
    
background-color: rgba(79, 163, 11, 0.664);
}

.archivo{
width: 21dvh;
}

.btn__form2{
margin-top: 25px;
margin-left: 77%;
}
