@import url(./normalize.css);
@import url(./MediaQueries/MobileFirst.css);
@import url(./MediaQueries/MobileL.css);
@import url(./MediaQueries/Tablet.css);
@import url(./MediaQueries/Laptop.css);
@import url(./MediaQueries/Desktop.css);



:root{
    --color-primary: #1C4070;
    --color-secundary:rgb(186, 221, 233);
    --color-terciary:#EDD2AA;
    --color-4: white;
    --color-5: #f3f1e9;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
