@import url(../normalize.css);
@import url(../MediaQueries/MobileFirst.css);
@import url(../MediaQueries/Tablet.css);
@import url(../MediaQueries/Laptop.css);




@media screen and (min-width: 1440px){


/*NAV BAR*/

.nav__bar__desktop li a{
font-size: 22px;
padding: 22px;
}

.logo{
left: 41%;
width: 325px;
height: 220px;
}    


/*SECCION 1 IMAGENES Y TITULOS*/

.section1{
width: 100%;
height: 120dvh;
}
 
.titulo__sec__1{
position: absolute;
left: 40%;
top:1%;
font-size: 170px;
}

.subtitulo{
font-size: 30px;
color: var(--color-primary);
position: absolute;
left:60%;
top: 23%;
z-index: 1;
}

.container__img__sec1{
position: relative;
top:33%;
left: 4%;
width: 610px;
height: 600px;
z-index: 1;
}

.img-ropero{
position: absolute;
width: 800px;
height: 600px;
z-index: 1;
}

/*SECCION 3- VIDEO*/

.section3{
display: flex;
width: 100%;
height: 100vh;
background-color:var(--color-secundary);
}

.logo__Sec3{
width: 95dvh;
position: absolute;
bottom: 39%;
left: 18%;
}

.video__Sec3{
width: 100%;
position: absolute;
opacity: 0.4 ;
}

/*SECCION 4 FORMULARIO*/


.frm__prom{
display: flex;
flex-direction: column;
align-items: center;
width: 65dvh;
height: 30dvh;
padding: 45px;
background-color: var(--color-secundary);
border: solid 1px var(--color-primary);
}
.contenido__form__prom{
width: 55dvh;
height: 30dvh;
}

.contenido__form__prom p{
color: rgba(0, 0, 0, 0.253);
text-align: center;
}


/*SECCION NAVBAR BABYS/NIÑAS/NIÑOS*/

.Titulo__Babys{
color: var(--color-primary);
text-align: center;
background-color: var(--color-secundary);
}


.Container__img{
width: 100%;
display: flex;
flex-wrap: wrap;
}

.Card{
width: 550px;
height: 400px;
}

/*FORMULARIO- TRABAJA CON NOSOTROS*/

.Container__form h1{
font-size: 28px;
}

form{
width: 60dvh;
height: 70dvh;
margin-top: 15px;
}

.contenido__form{
width: 50dvh;
height: 40dvh;
}
.archivo{
width: 40dvh;
}


/*FOOTER*/


.titulo__foot{
font-size: 19px;
padding: 25px;
}

/*Iconos*/

.fa-brands{
font-size: 2rem;
padding: 8px;
}

.titulo__foot2{
font-size: 20px;
padding: 15px;
}

.mapa__foot{
width: 38dvh;
height: 20dvh;
}

.list__foot a{
font-size: 18px;
}

/*Boton subir*/

.container__btn button{
font-size: 25px;
}

}